body {

    text-align: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #ffffff, #e0dfdf);


}

.img_logo {

    margin-top: 40px;
    margin-bottom: -30px;

}

.conteudo {
    display: flex;
    width: 100%;
    justify-content: center;

}

.login-container {

    color: azure;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, #45be11, #0a8b33);
    max-width: 300px;
    padding: 20px;
    border-radius: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

label {
    display: flex;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 0;
}

button {
    width: 100%;
    justify-content: center;
    background-color: rgb(5, 252, 5);
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: large;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

button:hover {
    background-color: #0a8b33;
}

#error-message {
    color: rgb(255, 0, 0);
    margin-top: 10px;
}
@media screen and (max-width: 800px) {
    .login-container {
        max-width: 100%; /* Ocupa a largura total da tela em telas pequenas */
    }

    .img_esq {
        display: none; /* Esconde a imagem quando a tela for menor que 800px */
    }
    .img_dir {
        display: none; /* Esconde a imagem quando a tela for menor que 800px */
    }
}