body {
    background-color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0a8b33;
    margin: 10px;
    padding: 0;
}

header {
    color: #0a8b33;
    padding: 5px;
    text-align: center;
}

.conteudo{
    
    background: linear-gradient(to bottom, #a1c629, #0a8b33);
    color: rgb(255, 255, 255);
    padding: 10, 10, 10, 10;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.section {
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.btn {

    display: inline-block;
    padding: 14px 24px;
    margin: 10px;
    background: linear-gradient(to bottom, #a1c629, #0a8b33);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: border 1.0 ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

.img_logo{
    width: 700px;
    height: 600px;
    margin-top: -100px;
    margin-bottom: -100px;
}

.img_menu{
width: 50px;
height: 50px;
}

.btn:hover {
    color: rgb(0, 0, 0);
    background: linear-gradient(to bottom, #d88629, #8b570a);
}


h2 {
    color: #0a8b33;
    text-align: center;
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
}

p {
    text-align: justify;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    padding: 30px;    
    font-size: 20px;
    margin: 15px;
}

footer {
    color: black;
    text-align: end;
}

@media screen and (max-width: 700px) {
    .img_logo {
        justify-content: center;
        width: 400px; /* Ocupa a largura total da tela em telas pequenas */
        height: 300px;
        margin-top: -50px;
        margin-bottom: -50px;
    }
}